*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


html,body{
	height: 100%;
}

.clear{
	clear: both;
}

.center{
	max-width: 1280px;
	width:100%;
	margin: 0 auto;
}

header img {
	height: 100px;
	width: 170px;
	margin-top: -5px;
	margin-right: 200px;
}

header a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 0.3s;
}

header a:hover {
	opacity: 0.7;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffdb;
	height: 11vh;
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-list li {
	letter-spacing: 1px;
	margin-left: 25px;
	font-weight: bolder;
	font-family: 'Permanent Marker', cursive;
}

.mobile-menu {
	cursor: pointer;
	display: none;
}

.mobile-menu div {
	width: 32px;
	height: 4px;
	margin: 8px;
	background-color: black;
}

.btnL2 {
	border: 1px solid #db2323;
	background-color: #db2323;
	border-radius: 30px;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	font-weight: bold;

}


.btnL2 a {
	color: white;
}


.btnL3 {
	border: 2px solid #db2323;
	background-color: #ffffcc;
	border-radius: 30px;
	margin-left: -15px;
	padding: 5px 10px;
	color: #db2323;
	text-decoration: none;
	font-weight: bold;

}

.btnL3 a {
	color: #c11d1f;
}
.cabecalho{
	background-color: #db2323;
	width: 100%;
	height: 348px;
}

.text{
	width: 60%;
	float: left;
	margin: 10px 60px;

}

.text h1{
	margin-top:40px;
	margin-bottom: 10px;
	color: white;
	font-size: 29px;
	font-family: 'Permanent Marker', cursive;
}

.text p{
	color: white;
	font-size: 19px;
	width: 90%;
	font-family: 'Permanent Marker', cursive;
}

.CompraCurso{
	width: 28%;
	height: 600px;
	position: relative;
	float: right;
	background-color: #1c1d1f;
	margin-top: -150px;
	margin-right: 70px;
	background-attachment: scroll;
	box-shadow: 0px 3px 7px 3px;


	
}
	

.CompraCurso video{
	position: relative;
	width: 100%;
	border: 1px solid #d1d7dc;
}

.BannerCurso  img{
	position: relative;
	width: 100%;
	border: 1px solid black;
}


.textC {
	padding: 25px;
	color: white;
}

.textC h2{
	font-size: 32px;
}

.textC input[type="button"]{
	margin-top: 10px;
	width: 100%;
	height: 45px;
	color: white;
	background-color: #db2323 ;
	border: none;
	font-weight: bolder;
	font-size: 18px;
	cursor: pointer;
}

.textC input[type="button"]:hover{
	background-color: #8f1517;
}

.textC > p {
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
}

.textC h4{
	margin-top: 30px;
}

.Desc p{
	margin-top:9px;
}

.Desc img{
	margin-bottom: -5px;
	width: 20px;
	height: 20px;
	margin-right: 9px;
}

.Back-aprendera{
	background-color: #ffffcc;
	width: 100%;
	height: 360px;
	margin-top: 100px;
	padding: 1px;	
	}

.box-aprend{
	margin-top: 100px;
	width: 58%;
	height: 300px;
	margin: 30px 60px;
	border: 1.5px solid #1c1d1f;
	padding: 20px;


}

.text-box{
	width: 50%;
	display: inline-block;

}

.box-aprend img{
	width: 20px;
	height: 15px;
	margin-right: 10px;

}

.text-box li{
	list-style-image: url("Imagens/checkp.svg");
	margin-top: 5px;
	margin-left: 8px ;
	font-family: 'Permanent Marker', cursive;

}

.text-box2 {
	float: right;
	width: 50%;
	
}

.text-box2 li{
	list-style-image: url("Imagens/checkp.svg");
	margin-top: 5px;
	margin-left: 8px ;
	font-family: 'Permanent Marker', cursive;
}

.text-box3{
	display: none;
}



.rodape{
	background-color:#db2323 ;
	width: 100%;
	height: 60px;
	border-top: 1px solid #d1d7dc ;
}

.rodape h2{
	color: white;
	text-align: center;
	margin: 20px auto;
	font-size: 15px;
}

.checkbtn{
	font-size: 30px;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}

/*******RESPONSIVO**********/
/*******RESPONSIVO**********/

@media (max-width: 910px) {
	body {
		overflow-x: hidden;
	}

	.nav-list {
		position: absolute;
		top: 11vh;
		right: 0;
		width: 50vw;
		height: 92vh;
		background-color: #db2323;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
		box-shadow: inset 0px 0px 7px 0px;
	}

	.nav-list li {
		margin-left: 0;
		opacity: 0;
	}

	header a {
		color: white;
	}

	.btnL3 {
		background-color: #db2323;
		color: white;
	}

	.mobile-menu {
		display: block;
	}

	.nav-list.active {
		transform: translateX(0);
	}
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.mobile-menu.active .line1 {
	transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
	opacity: 0;
}

.mobile-menu.active .line3 {
	transform: rotate(45deg) translate(-5px, -7px);
}

/*responsividade do Menu*/

@media (max-width: 1130px){
	.CompraCurso{
		margin-right: 40px;
	}

}

@media (max-width: 1100px){
	.CompraCurso{
		float: none;
		display: inline-block;
		width: 100%;
		margin-top: 50px;
		margin-right: 0;
		box-shadow: 0 0 0;
		position: initial;
		background-color: #ab181a;
	}

	.BannerCurso img{
		position: center;
		max-width: 40%;
		margin: 15px auto;
		position: initial;
		background-size: cover;
		display:block;
	}
	.textC{
	padding: 0;
	text-align: center;
	}


	.text{
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.text p{
		width: 99%;
		text-align: center;
		padding: 0 2px;
	}

	.textC input[type="button"]{
	width: 50%;
	border: 1px solid black;
	
	}

	.Back-aprendera{
		margin-top: 0px;
	}

	.box-aprend{
		margin: 20px auto;
	}
}

@media(max-width: 990px){

	.Back-aprendera{
		height: 580px;
	}


	.box-aprend{
		width:400px;
		height: 475px;
		padding: 0px;
	}
	.text-box{
		width: 100%;
		display: block;
		float: none;
	padding:0px ;
		padding-left: 25px;
	}

	.text-box2{
		display:block;
		padding: 0px;
		float: none;
		width: 100%;
	}
}
@media (max-width: 861px){
	.text-box li{	
		display: none;

	}
	.text-box3{
		display: initial;
	}
	.Back-aprendera{
		max-height: 510px;
	}

}

@media (max-width: 1020px){
	.CompraCurso{
		height: 520px;
		
	}
}


@media (max-width: 685px){
	.CompraCurso{
		height: 450px;
		
	}
	}



@media (max-width: 470px){
	.CompraCurso{
		height: 400px;

	}
}


